:root {
	--background: #27374d;
	--white: #fff;
	--black: #000;
	--box-profile: #fff;
	--box-projects: #fff;
	--button: #388bff;
	--box1: #e9f2ff;
	--box2: #388bff;
	--dw-btn: #388bff;
	--dw-btn-text: #fff;
	--dm-btn: #fff;
	--dm-btn-bg: #388bff;
	--dm-btn-text: #fff;
	--scroll: #27374d;
	--white-text: #fff;
	--white-border: none;
}

.dark-mode {
	--background: #393e46;
	--white: #fff;
	--black: #fff;
	--black-dark-mode: #000;
	--box-profile: #0c66e4;
	--box-projects: #0c66e4;
	--button: #fff;
	--box1: #1d7afc;
	--box2: #092957;
	--dw-btn: #fff;
	--dw-btn-text: #1d7afc;
	--dm-btn: #fff;
	--dm-btn-bg: #fff;
	--dm-btn-text: #1d7afc;
	--scroll: #393e46;
	--white-text: #1d7afc;
	--white-border: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: Calibri, sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.box {
	width: 100%;
}

.box1 {
	background-color: var(--box1);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow-y: auto;
}

.box2 {
	background-color: var(--box2);
	height: auto; /* Ustawienie wysokości na auto */
}

.profile-box {
	background-color: var(--box-profile);
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 40px;
	margin: 10px 20px;
	border: none;
}

.project-box {
	background-color: var(--box-projects);
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 40px;
	margin: 10px 20px;

	border: none;
}

.profile-box {
	max-width: 700px;
}

.project-container {
	display: flex;
	flex-direction: column;
	padding: 50px;
	max-height: calc(100vh - 40px);
}

.projects-header,
.projects-header-nav {
	color: #fff;
	border-radius: 10px;
}

.projects-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin: 30px;
}

.projects-header-nav {
	margin-left: 100px;
	margin-top: 10px;
}

.title,
.header-text {
	color: var(--black);
	font-weight: bold;
	margin-bottom: 10px;
}

.title {
	font-size: 15px;
}

.header-text {
	font-size: 50px;
}

.description,
.project .text,
.text {
	color: var(--black);
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: bold;
}

.text h2 {
	color: #fff;
	margin-top: 30px;
	margin-left: 50px;
	font-size: 50px;
}

.project-button {
	padding: 10px 20px;
	margin-top: 10px;
	margin-right: 10px;
	background-color: var(--button);
	color: var(--white-text);
	border-radius: 10px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}

.icon-bar img,
.theme-toggle-button img {
	height: 60px;
	margin: 0px 3px;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.icon-bar {
	padding: 5px 10px;
}

.theme-toggle-button {
	background: var(--dm-btn);
	border-radius: 20px;
	border: none;
}

.download-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
}

.download-button {
	padding: 25px 50px;
	margin: 0 10px;
	margin-bottom: 50px;
	border: none;
	border-radius: 25px;
	background-color: var(--dw-btn);
	color: var(--dw-btn-text);
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

#theme-toggle-button-mobile {
	display: none;
}

::-webkit-scrollbar,
.box2::-webkit-scrollbar {
	display: none;
}

@media only screen and (max-width: 600px) {
	.download-buttons:first-child {
		display: none;
	}

	.profile-box {
		max-width: 430px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.project-container {
		padding: 10px;
	}

	.theme-toggle-button .mobile {
		display: flex;
	}

	.theme-toggle-button {
		display: none;
	}

	.text h2 {
		margin-left: 40px;
	}

	#theme-toggle-button-mobile {
		background-color: var(--dm-btn-bg);
		display: flex !important;
		margin-top: 30px;
		margin-bottom: 0;
		width: 300px;
		display: flex;
		justify-content: space-around;
	}

	#theme-toggle-button-mobile h2 {
		margin-top: 35px;
		color: var(--dm-btn-text);
	}

	.theme-toggle-button img {
		height: 80px;
		margin: 0px 3px;
		cursor: pointer;
		margin-top: 10px;
		margin-bottom: 7px;
	}

	.download-buttons:last-child {
		display: flex;
	}
	.text h2{
		font-size: 35px;
	}
	.profile-content p{
		font-size: 20px;
	}
	.profile-content{
		font-size: 40px;
	}
	.header-text{
		font-size: 40px;
	}
	.description, .project .text, .text{
		font-size: 20px;
	}
	.box2 {
		overflow-y: scroll;
	}
}

@media (min-width: 600px) {
	.box {
		width: 50%;
		height: 100vh;
	}

	.download-buttons:last-child {
		display: none;
		margin: 0;
		padding: 0;
	}
}
